<% content_for :company_show do %>
  <%= stylesheet_link_tag     "http://cdn.oesmith.co.uk/morris-0.4.3.min.css" %>
  <%= javascript_include_tag  "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" %>
  <%= javascript_include_tag  "http://cdn.oesmith.co.uk/morris-0.4.3.min.js" %>
  <%= javascript_include_tag  "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" %>
<% end %>  

<% content_for :title do %><%= @company.slug.humanize %> - Startup Discovery<% end %>

<% cache cache_key_for_companies, expires_in: 30.days do %>
  <h1>
    <%= link_to @crunchbase.name, @crunchbase.homepage_url %>
    <%= image_tag @angel.logo_url, alt: "#{@angel.name}", class: "col-md-2" %>
  </h1>
  <%= @crunchbase.overview.html_safe %>
  <hr>
  <p>
    The chart below shows the amount of unique visitors to the site over the past 12 months. The "green" vertical line shows the time when the company received funding (if any).
  </p>
  <br>
  <table class="table">
    <thead>
      <tr class="info">
        <th>Startup Site Traffic & Funding</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= render partial: 'companies/graph', locals: { funding: @crunchbase.funding_rounds, compete_data: @compete['data']['trends']['uv'] } %>
        </td>
      </tr>
    </tbody>
  </table>

  <hr>
  <br>
  <div class="row">
    <div class='col-xs-5'>
      <%= render partial: 'companies/summary', locals: { crunchbase: @crunchbase } %> 
    </div>

    <div class='col-xs-offset-1 col-xs-6'>
      <%= render partial: 'companies/funding', locals: { funding: @crunchbase.funding_rounds } %> 
    </div>
  </div>

  <hr>
  <br>  
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab">Competitor</a></li>
          <li><a href="#tab_2" data-toggle="tab">People</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
              <%= render partial: 'companies/competitions', locals: { competition: @crunchbase.competitions } %> 
          </div>
          <div class="tab-pane" id="tab_2">
            <%= render partial: 'companies/founders', locals: { people: @crunchbase.relationships } %>  
          </div>
        </div>
        </div>  
      </div>
    </div>
  </div>
<% end %>