<html lang="en-US">
  <head>
    <%= render partial: 'layouts/head' %>
  </head>
 
  <body id="container">
    <% if current_page?('/') %>
      <%= render partial: 'home/landing' %>
    <% else %>      
       <div class="jumbotron other-pages">
      <%= render partial: 'layouts/navbar' %>               
       </div>
    <% end %>
    
    <div class="content">
      <section id="primary" class="content-area full">
        <main id="main" class="site-main" role="main">
          <div class="container">
            
            <%= yield %>

          </div>
        </main> 
      </section> 
    </div> 	
    
    <% if current_page?('/') %>
      <%= render partial: 'layouts/footer', locals: { foot: '' } %>
    <% else %>
      <%= render partial: 'layouts/footer', locals: { foot: 'colored-footer' } %>
    <% end %>
  </body>
</html>