<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
</head>
<body>
  <%= render partial: 'layouts/navbar' %>
  <%= render partial: 'layouts/messages' %>
  
  <div class="container">
    <%= yield %>
  </div>
  
  <%= render partial: 'layouts/footer' %>
</body>
</html>
