<html lang="en-US">
  <head>
    <%= render partial: 'layouts/head' %>
  </head>
 
  <body>
      
    <% if current_page?('/') %>
      <%= render partial: 'home/landing' %>
    <% else %>      
      <header class="other-pages">
        <%= render partial: 'layouts/navbar' %>               
      </header>
    <% end %>
    
    <section>
      <article class="content container">        
        <%= yield %>
      </article> 	
    </section>
    
    <% if current_page?('/') %>
      <%= render partial: 'layouts/footer', locals: { foot: '' } %>
    <% else %>
      <%= render partial: 'layouts/footer', locals: { foot: 'colored-footer' } %>
    <% end %>
      
  </body>
</html>